# Ignore IntelliJ files
.idea/
*.iml

# Ignore VS Code settings
.vscode/

# Ignore build artifacts
omnicart-backend/target/
omnicart-frontend/node_modules/

.env
.env.local
.env.docker
target/
*.iml
*.class
.idea/
.vscode/
*.log
