version: '3.8'

services:

  backend:
    build:
      context: ./omnicart-backend
      dockerfile: Dockerfile
    image: sumukha6357/omnicart:local
    ports:
      - "8080:8080"
    depends_on:
      - db
      - redis
    restart: on-failure
    env_file:
      - .env.docker
    environment:
      SPRING_PROFILES_ACTIVE: prod
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/omnicart_db
      SPRING_DATASOURCE_USERNAME: sumuka
      SPRING_DATASOURCE_PASSWORD: root
      SPRING_MAIN_LOG_STARTUP_INFO: "false"
      LOGGING_LEVEL_ROOT: "WARN"
      LOGGING_LEVEL_ORG_SPRINGFRAMEWORK_BOOT_AUTOCONFIGURE: "INFO"
      LOGGING_LEVEL_ORG_SPRINGFRAMEWORK_BOOT_AUTOCONFIGURE_CONDITION: "INFO"
      
      SPRING_REDIS_HOST: redis
      SPRING_REDIS_PORT: 6379

      SPRING_MAIL_HOST: ${SPRING_MAIL_HOST}
      SPRING_MAIL_PORT: ${SPRING_MAIL_PORT}
      SPRING_MAIL_USERNAME: ${SPRING_MAIL_USERNAME}
      SPRING_MAIL_PASSWORD: ${SPRING_MAIL_PASSWORD}
      
      JWT_SECRET: ${JWT_SECRET}
      JWT_EXPIRATION: ${JWT_EXPIRATION}
      
      AWS_REGION: ${AWS_REGION}
      AWS_S3_BUCKET_NAME: ${AWS_S3_BUCKET_NAME}
      AWS_S3_ACCESS_KEY: ${AWS_S3_ACCESS_KEY}
      AWS_S3_SECRET_KEY: ${AWS_S3_SECRET_KEY}
      AWS_S3_URL_EXPIRY_MS: ${AWS_S3_URL_EXPIRY_MS}

    networks:
      - omnicart-net

  db:
    image: postgres:15
    restart: always
    container_name: omnicart-db
    environment:
      POSTGRES_DB: omnicart_db
      POSTGRES_USER: sumuka
      POSTGRES_PASSWORD: root
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - omnicart-net

  redis:
    image: redis:7
    restart: always
    container_name: omnicart-redis
    networks:
      - omnicart-net

volumes:
  pgdata:

networks:
  omnicart-net:
    driver: bridge
